/* Estilos para la página de registro */
body {
    font-family: Arial, sans-serif;
    background-color: #157767;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  #registroForm {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  #registroForm h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #registroForm label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
  }
  .logo {
    font-weight: 400;
    font-size: 1.3rem;
    text-align: left;
    color: #fff;
    margin-left: 40px;

}
  
  #registroForm input[type="text"],
  #registroForm input[type="email"],
  #registroForm input[type="password"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    
  }
  
  #registroForm button {
    background-color: #157767;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  #registroForm button:hover {
    background-color: #105652;
  }
  
